<html>
    <head>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="../dist/angular-material.js"></script>
        <link rel="stylesheet" href="../dist/angular-material.css">
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script>
            angular.module('testApp', ['ngMaterial'])
            .controller('testCtrl', ['$scope', function($scope) {
                $scope.teste = [
                    'ola',
                    'olaz',
                    'obla'
                ];
                $scope.color = {
                    red: 0
                };
            }]);
        </script>
    </head>
    <body ng-app="testApp">
        <div ng-controller="testCtrl">
            <md-content>
                <ul>
                    <li ng-repeat="t in teste">
                        {{ t }}
                    </li>
                </ul>
                <md-slider flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider" class>
                </md-slider>
            </md-content>
        </div>
    </body>
</html>
